main {
    padding-left: 2em;
    padding-right: 2em;
}

#navcontainer.container {
    max-width: 1500px;
}

td img {
    max-width: 100px;
    max-height: 67px;
}

.ProdImg {
    max-height: 246px;
    max-width: 246px;
    min-height: 246px;
    min-width: 246px;
}

.ProdPagination {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    margin-right: 2em;
}

    .ProdPagination a {
        width: 44px;
        height: 44px;
        border: 1px solid #2a2a2a;
        display: inline-block;
        text-align: center;
        line-height: 44px;
        font-size: 14px;
        font-weight: 500;
        color: #2a2a2a;
        margin-right: 2em;
    }

    .ProdPagination :hover, .ProdPagination.active {
        background-color: #2a2a2a;
        color: #fff;
    }

.pagination-container {
    padding-bottom: 2em;
    left: 50%;
}

.search {
    padding-left: 20em;
    margin-top: 2em;
}

.btn {
    background-color: #fff;
    color: #2a2a2a;
    border: 1px solid #2a2a2a;
    border-radius: 10%;
}

    .btn:hover {
        background-color: #2a2a2a;
        color: #fff;
    }

.detailsImg {
    padding-right: 1em;
    width: 75%;
    height: 75%;
}

.ajaxDisplay {
    padding-top: 10em;
    text-align: center;
}